/* Vendored until a better build is added */

/*! https://npm.im/webext-base-css */

:root {
	color-scheme: light dark;
	max-width: 700px;
	margin: auto;
}

body {
	/* Must be on body because both browsers have `font-size: 75%` here */
	font:
		16px/1.5 system-ui,
		sans-serif;
}

select,
textarea,
input:where(
		[type='number'],
		[type='password'],
		[type='search'],
		[type='text'],
		[type='url'],
		:not([type])
	) {
	box-sizing: border-box;
	font: inherit;
	line-height: 2;
}

textarea,
input:where(
		[type='number'],
		[type='password'],
		[type='search'],
		[type='text'],
		[type='url'],
		:not([type])
	):not([size]) {
	width: 100%;
}

textarea {
	line-height: 1.5; /* Reset it because 2 is too big */
	resize: vertical;
	min-height: 3lh;
	/* stylelint-disable-next-line property-no-unknown */
	field-sizing: content;
}

input[type='submit'],
button {
	font: inherit;
}

hr {
	border: none;
	border-bottom: 1px solid currentcolor;
	opacity: 50%;
}

img {
	vertical-align: middle;
}

kbd {
	display: inline-block;
	padding: 3px 5px;
	font-size: 0.8em;
	line-height: 10px;
	color: #444d56;
	vertical-align: middle;
	background-color: #fafbfc;
	border: 1px solid #d1d5da;
	border-radius: 6px;
	box-shadow: inset 0 -1px 0 #d1d5da;
}

/* Firefox-only style */
@-moz-document url-prefix('') {
	@media (prefers-color-scheme: dark) {
		:root {
			background-color: #23222b;
		}
	}
}

/* iOS/iPadOS-specific style */
@supports (-webkit-text-size-adjust: none) {
	@media (prefers-color-scheme: dark) {
		:root {
			/* Safari iOS has a black background */
			background-color: #1e1e1e;
		}
	}
}

.text-monospace,
.monospace-field {
	/* Same as GitHub style for `code` */
	font-family:
		ui-monospace, SFMono-Regular, 'SF Mono', Menlo, Consolas, 'Liberation Mono',
		monospace !important;
}
