/* RESETS */
body {
  width: 320px;
  margin: auto;
  --margin: 8px;
  padding: var(--margin);
}
body.options-page {
  width: 400px;
}
a {
  outline: 0;
  color: inherit;
}
input {
  box-sizing: border-box;
  width: 100%;
  font: inherit;
}
[hidden] {
  display: none;
}
@media (min-width: 400px) {
  [hidden] {
    display: block;
  }
}

/**
 * HEADER
 */
input {
  background-color: transparent;
  border: solid 1px;
  padding: 0.2em 0.4em;
}
.options {
  display: flex;
  justify-content: space-between;
  margin: 0.5em 0;
}
button {
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  user-select: none;
  font: inherit;
  -webkit-tap-highlight-color: transparent;
  vertical-align: middle;
  box-shadow: none;
  background-color: transparent;
  border: none;
  outline: 0;
  text-decoration: none;
  color: inherit;
  text-align: left;
  padding: 0;
}
.options * {
  text-decoration: none;
  padding: 0.5em;
  text-transform: uppercase;
  border-radius: 2px;
}

/**
 * LIST
 */
#extList {
  margin: 0 calc(var(--margin) * -1);
  padding: 0;
  list-style: none;
}
.ext {
  display: flex;
  white-space: nowrap;
  font-size: 1.2em;
  line-height: 1.9;
  font-weight: bolder;
  border-bottom: 1px solid #88888833;
  padding-right: var(--margin);
}

.ext:last-child {
  border-bottom: none;
}
.ext.disabled .extName {
  font-weight: normal;
  filter: grayscale(60%);
  opacity: 0.5;
}
.ext.disabled .extOptions {
  display: none;
}
.ext.disabled + .disabled {
  margin-top: 0;
}
.ext.type-development {
  color: #4170C3;
}
.ext.type-admin {
  color: #C32700;
}
.extName {
  flex-grow: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: var(--margin);
}
.ext img {
  width: 16px;
  height: 16px;
  vertical-align: -3px;
}
.extIcon {
  margin-right: 0.3em;
}
.ext > *:not(:first-child) {
  padding: 0 0.3em;
  opacity: 0.2;
  flex-shrink: 0;
}
.ext:hover > * {
  opacity: 1;
}
a:hover,
button:hover {
  background-color: #ecf0f1;
  cursor: pointer;
}

/**
 * BUTTON ICONS
 */
.ext :before {
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: -3px;
}
.extOptions:before {
  content: url(icons/options.svg);
}
.extMore:before {
  content: url(icons/ellipsis.svg);
}
.extUrl:before {
  content: url(icons/globe.svg);
}
.extUninstall:before {
  content: url(icons/bin.svg);
}

@media (prefers-color-scheme: dark) {
  /* Border around improves contrast */
  body:before {
    content: "";
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -1;
    border: solid 1px #595a5e;
  }
  body {
    background-color: #292a2d;
    color: #e8eaed;
  }
  input {
    color: inherit;
    background-color: transparent;
    border: solid 1px;
    padding: 0.2em 0.4em;
  }

  a:hover,
  button:hover {
    background-color: #c4d7dc38;
  }
  .ext :before {
    filter: brightness(1.6);
  }
  .ext.type-development {
      color: #83acf5;
  }

  .ext.type-admin {
    color: #ffa38d;
  }
}