/* RESETS */
:root {
	--margin: 8px;
	--ext-icon-margin: 0.3em;
	color-scheme: light dark;
}

body {
	width: auto;
	margin: auto;
	max-width: 800px;
	padding: var(--margin);
	direction: auto;
}

main {
	gap: 1em;
	display: flex;
	flex-direction: column;
}

input {
	box-sizing: border-box;
	width: 100%;
	padding: 0.2em 0.4em;
}

a {
	outline: 0;
	color: inherit;
	text-decoration: none;
}

kbd {
	font-family: system-ui, monospace;
}

button {
	display: inline-block;
	padding: 0;
	margin: 0;
	outline: 0;
	border: none;
	cursor: pointer;
	font: inherit;
	background: none;
	color: inherit;
	text-align: start;
}

a:hover,
.keyboard-navigation a:focus,
button:hover,
.keyboard-navigation button:focus {
	background-color: #ecf0f1;
	cursor: pointer;
}

/**
 * HEADER
 */
.header {
	display: flex;
	position: sticky;
	z-index: 100;
	top: var(--margin);
	outline: solid var(--margin) #2b2c2c;
}

.header-burger {
	flex-shrink: 1;
	width: 1.3em;
}

/**
 * HIDE MESSAGE
 */
.notice {
	background: #8882;
	margin: 0;
	padding: 0.6em;
	border-radius: 0.5em;
}

.hide-action {
	border-bottom: 1px #2b2c2c dotted;
}

/**
 * LIST
 */
#ext-list {
	margin: 0 calc(var(--margin) * -1);
	padding: 0;
	list-style: none;
}

.ext {
	display: flex;
	white-space: nowrap;
	font-size: 1.2em;
	line-height: 1.9;
}

.ext:not(:last-child) {
	border-bottom: 1px solid #8883;
}

.ext.type-development {
	color: #4170c3;
}

.ext.type-admin {
	color: #c32700;
}

.ext-name {
	flex-grow: 1;
	overflow: hidden;
	text-overflow: ellipsis;
	font-weight: bold;
}

.disabled .ext-name {
	font-weight: normal;
	filter: grayscale(60%);
	opacity: 50%;
}

.ext img {
	width: 16px;
	height: 16px;
	vertical-align: -3px;
}

.ext-name img {
	padding: 0 var(--margin);
}

.ext > :not(.ext-name) {
	padding: 0 0.3em;
	opacity: 20%;
	flex-shrink: 0;
}

.ext > :last-child:not(.ext-name) {
	margin-inline-end: var(--margin);
}

/* Don't use .ext:hover https://github.com/hankxdev/one-click-extensions-manager/pull/109 */
.ext:has(:hover) > *,
.keyboard-navigation .ext:focus-within > * {
	opacity: 100%;
}

@media (prefers-color-scheme: dark) {
	body {
		background-color: #292a2d;
		color: #e8eaed;
	}

	a:hover,
	.keyboard-navigation a:focus,
	button:hover,
	.keyboard-navigation button:focus {
		background-color: #c4d7dc38;
	}

	.ext :not(.ext-name) img {
		filter: brightness(1.6);
	}

	.ext.type-development {
		color: #83acf5;
	}

	.ext.type-admin {
		color: #ffa38d;
	}
}
